.up-maroon {
    color: #7B1113;
}
.up-green {
    color: #014421;
}
.up-yellow {
    color: #F3AA2C;
}
.up-olive-green {
    color: #565422;
}
.up-yellow-green {
    color: #335628;
}
.up-blue {
    color: #132E54;
}
.up-red {
    color: #8E171A;
}
.up-terracotta {
    color: #B43C25;
}
.up-custom-green {
	color: #006A35;
}